.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

button{
    background-color: #E8222E;
    color: #fff;
    border-radius: 5px;
    height: 2rem;
    font-family: 'Roboto';
    margin-top: 5px;
}

#edit-button{
    height: 2rem;
    align-self: center;
    font-family: 'Roboto';
    font-weight: bold;
    width: 8rem;
}